body{
    background-color: rgb(222, 187, 255);
    text-align: center;
}

p{
    color: rgb(151, 243, 247);
}
h1{
    font-style: italic;
}

.castro {
    color: rgb(255, 0, 85); 
    font-style: italic;
}

.img1{
    width: 40%;
    text-align: center;
}

